@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Wcomponents */
.wcomp::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-thumb{
background-color: ;
}

.fast-food{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.searchBar{
  border : 1px solid black ;
  outline: none;
  color: black;
  width: 30%;
  margin-left: 25%;
  border-radius: 5px;
}


.main-card--container{
  display : grid ; 
  grid-template-columns: repeat(3 , minmax(300px , 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.card-container{
  margin : 25px 0 auto ;

  position  : relative ;
  display: grid; 
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items:flex-start;
}

.img-thumbnail{
  width: 80px;
}
.formD{
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 650px !important;
  padding: 5%;
  color: black;
  margin-top: 5%;
  padding-top: 10px;
}

.formD p{
  text-align: center;
  font-size: 1.6rem;
}
.formD button{
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
}